<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
  <add key="globalPackagesFolder" value="packages" />
</config>
	<packageSources>
		<clear />
		<!-- `key` can be any identifier for your source. -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="DevExpress 25.1 Local" value="C:\Program Files\DevExpress 25.1\Components\System\Components\Packages" />
	</packageSources>
	<packageSourceMapping>
		<!-- key value for <packageSource> should match key values from <packageSources> element -->
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="DevExpress 25.1 Local">
			<package pattern="DevExpress.*" />
		</packageSource>
	</packageSourceMapping>
</configuration>